* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  height: 846px;
  gap: 12px;
}

body {
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .container {
    min-width: 100%;
  }
}

.background {
  background-image: url('back.png');
  background-size: contain;
  height: 587.15px;
  border: 1px solid rgb(252, 252, 252);
}

@media (min-width: 768px) {
  .background {
    background-image: url('headerback.png');
    background-size: cover;
    width: 1397.4px;
    height: 721.46px;
    top: 71px;
    padding: 289px, 260px, 289px, 260px;
    margin-bottom: 5%;
  }
}

.header {
  background-color: white;
  color: #6070ff;
  text-align: left;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  max-width: 375px;
}

@media (min-width: 768px) {
  .header {
    background-color: white;
    color: #6070ff;
    text-align: left;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    max-width: 1440px;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
}

.hamburger div {
  width: 20px;
  height: 2px;
  background-color: rgba(96, 112, 255, 1);
  margin: 3px 0;
  border-radius: 4px;
  display: block;
}

@media (min-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: row;
  }
}

.ItemNavigation {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 550px;
}

.Frame4 {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 10px;
}

.Frame3 {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 10px;
}

.Frame5 {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 10px;
}

.Portfolio {
  color: var(--neutrals-n-600, #344563);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #fff;
  color: #000;
  padding: 2px;
}

.logo {
  width: 100px;
  height: 20px;
  top: 4px;
  padding: 25px 12px 10px 1px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(96, 112, 255, 1);
}

@media (min-width: 768px) {
  .logo {
    width: 100px;
    height: 40px;
    top: 16px;
    margin-left: 143px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(96, 112, 255, 1);
  }
}

.intro {
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 60px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  height: 150px;
  color: rgba(23, 43, 77, 1);
  display: flex;
}

@media (min-width: 768px) {
  .intro {
    max-width: 400px;
    max-height: 122px;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-left: 13%;
    margin-top: 13%;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }
}
.content-wrapper{
  margin-left: 20px;
}
.content {
  display: flex;
  margin-left: 10px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 327px;
  height: 146px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(52, 69, 99, 1);
  margin-top: 50px;
}

@media (min-width: 768px) {
  .content {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 920px;
    height: 98px;
    margin-left: 13%;
  }
}

.endtext1 {
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
}

@media (min-width: 768px) {
  .endtext {
    gap: 16px;
    margin-left: 13%;
  }
}

.socialmediaimg {
  margin-left: 179px;
  margin-top: 5px;
  width: 170.17px;
  height: 20px;
  top: 642px;
  left: 260px;
  margin-bottom: 200px;
}

.wrap {
  margin-left: 185px;
}

.icon {
  font-size: 24px;
  margin: 0 5px;
  color: rgba(80, 95, 121, 1);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  background: #f7f7f9;
}

.card {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #dfe1e6, #dfe1e6);
  border: 1px solid rgba(223, 225, 230, 1);
  animation: fadeIn 1s ease-in forwards;
  max-width: 1100px;
  height: 490px;
}

.imagecontainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  max-width: 50%;
  overflow: hidden;
}

.snapshot {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.Block {
  flex: 1;
  padding: 1rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  gap: 24px;
}

.Title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  font-family: Poppins, sans-serif;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.firstText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344563;
}

.button {
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(57, 109, 242, 1);
  margin-bottom: 80px;
}

.buttontext {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(96, 112, 255, 1);
  display: inline-block;
}

.buttontext1 {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(96, 112, 255, 1);
  display: inline-block;
  color: white;
  background-color: #4053fc;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .imagecontainer,
  .Block {
    max-width: 100%;
  }
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 8px;
}

li {
  width: hug (57px);
  height: hug(15px);
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  text-align: center;
}

li span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card,
.cardtwo {
  width: 1100px;
  height: 400px;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 100px;
  margin-left: 35px;
  color: #fff;
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #dfe1e6, #dfe1e6);
  border: 1px solid rgba(223, 225, 230, 1);
  animation: fadeIn 1s ease-in forwards;
}

.cardtwo {
  animation-delay: 0.5s;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem 2%;
}

.content-wrapper {
  width: hug 447px;
  height: hug 311px;
  top: 3777px;
  left: 143px;
  gap: 24px;
  margin-top: 60px;
}

.section-title {
  font-style: header / 2;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  width: 447px;
  height: 33px;
  color: #091e42;
}

.section-text {
  width: 447px;
  height: 102px;
  font-style: body / 2;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  margin-top: 25px;
}

.lang {
  width: 684px;
  height: 65px;
  padding: 16px, 24px, 16px, 24px;
  font-style: body / 1 - bolder;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.line {
  width: 684px;
  height: 1px;
  top: 71px;
  color: #dfe1e6;
}

.dropdown {
  width: 40px;
  height: 40px;
  top: 16px;
  left: 618px;
  padding: 8px;
  border-radius: 8px;
  margin-left: 490px;
}

.dropdown1 {
  width: 40px;
  height: 40px;
  top: 50px;
  left: 618px;
  padding: 1px;
  border-radius: 8px;
  margin-left: 610px;
}

.sidedropdown {
  top: 16px;
  left: 618px;
  padding: 8px;
  border-radius: 8px;
  margin-left: 500px;
}

.skill-set {
  order: 2;
}

@media (min-width: 768px) {
  .about-me {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    background-color: white;
  }

  .content-wrapper,
  .skill-set {
    max-width: 50%;
    padding: 0 2%;
  }
}

.langlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame2 {
  flex: 0 0 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f9;
  width: 100px;
  height: 100px;
  padding: 12px, 12px, 20px, 12px;
  border-radius: 8px;
  justify-content: center;
}

.image {
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.langtext {
  margin-top: 0.5rem;
}

.contactcontainer {
  top: 5500px;
  height: auto;
  background-image: url(shapesback.png), url(contactback.png);
  background-size: cover;
  background-position: cover, top left;
  background-repeat: no-repeat, repeat;
  padding: 0;
  text-align: center;
}

.contact {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  color: #fff;
  font-family: Poppins, sans-serif;
  padding-top: 48px;
}

.contact-section {
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

.maintext {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #ebebff;
  margin-top: 20px;
  text-align: center;
}

.forminput,
.textarea,
.lastbutton {
  width: 100%;
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.forminput,
.textarea {
  height: 48px;
  border-radius: 6px;
  border: 1px solid rgba(207, 216, 220, 1);
  background-color:
    linear-gradient(0deg, #cfd8dc, #cfd8dc),
    linear-gradient(0deg, #fff, #fff);
  margin-top: 20px;
}

.line2 {
  width: 134px;
  height: 5px;
  border-radius: 12px;
  background: rgba(13, 21, 30, 1);
  margin-top: 20px;
}

.textarea {
  height: 170px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid rgba(207, 216, 220, 1);
  background-color:
    linear-gradient(0deg, #cfd8dc, #cfd8dc),
    linear-gradient(0deg, #fff, #fff);
}

.lastbutton {
  width: 142px;
  height: 48px;
  top: 5317px;
  left: 24px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: #344563;
  background: rgba(255, 255, 255, 1);
  margin-left: 15px;
  margin-top: 12px;
  display: inline-block;
}

.btext {
  width: 110px;
  height: 24px;
  font-style: button /normal;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(57, 109, 242, 1);
  white-space: wrap;
}

@media screen and (max-width: 480px) {
  .contactcontainer {
    width: 100%;
    padding: 0 10px;
  }

  .contact {
    font-size: 24px;
  }

  .contact-section {
    max-width: 100%;
    margin-top: 30px;
  }

  .maintext {
    font-size: 16px;
  }

  .forminput,
  .textarea,
  .lastbutton {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    max-width: 375px;
    top: 718px;
    background: #f7f7f9;
    padding: 114px 24px 114px 24px;
    gap: 88px;
    display: grid;
    border: 2px solid  rgba(115, 114, 118, 0.043);
  }

  .card {
    max-width: 327px;
    height: 552px;
    padding: 5px;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 12px;
    border: 1px solid rgba(223, 225, 230, 1);
    background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #dfe1e6, #dfe1e6);
    margin-left: -10px;
  }

  .cardtwo {
    max-width: 327px;
    height: 596px;
    padding: 16px;
    border-radius: 16px;
    gap: 12px;
    align-content: center;
    color: #fff;
    border: 1px solid rgba(223, 225, 230, 1);
    background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #dfe1e6, #dfe1e6);
    margin-left: -10px;
  }

  .imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
  }

  .snapshot {
    width: 295px;
    height: 220px;
    border-radius: 8px;
  }

  .Title {
    width: 295px;
    height: 36px;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: start;
    color: #172b4d;
    margin-top: -5px;
    margin-left: 10px;
  }

  .Title1 {
    width: 295px;
    height: 36px;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: start;
    color: #172b4d;
    margin-top: 10px;
  }

  .Block {
    width: hug (295px);
    height: hug (80px);
    gap: 12px;
  }

  .layout {
    width: 295px;
    height: 80px;
    gap: 12px;
  }

  .Frame {
    width: hug (236px);
    height: hug (32px);
    gap: 12px;
    margin-left: 10px;
    margin-top: -10px;
  }

  .Frame2 {
    width: 236px;
    height: 32px;
    gap: 12px;
    margin-top: 60px;
    margin-left: 6px;
  }

  .firstText {
    width: 295px;
    height: 76px;
    font-style: body / 3;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    letter-spacing: 0;
    margin-left: 10px;
    color: #344563;
  }

  .tags {
    width: 214px;
    height: 24px;
    gap: 8px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .Action {
    width: 295px;
    height: 72px;
    padding: 12px, 169px, 12px, 0;
  }

  .button {
    width: hug (126px);
    height: hug (48px);
    top: 12px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 25px;
    border: 1px solid #6070ff;
    display: inline-block;
    margin-left: 10px;
  }

  .buttontext {
    width: 102px;
    height: 24px;
    font-style: button /normal;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
  }
}
